<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width-=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type=text/css href="https://fonts.googleapis.com/css?family=Poppins" />
   </head>
   <body>
      <div class="navbar-container">
         <div class="navbar">
            <ul>
              <li><a href="/home">JobHub</a></li>
              <li><a href="/help">How it works</a></li>
              <li><a href="/about">About</a></li>
            </ul>
         </div>
      </div>
   </body>
</html>