{% extends "layout.html" %}
<head>
    <link rel="stylesheet" href="static/feed.css">
</head>

<body>
{% for story in stories %}
<div class="news-post">
    <div class="news-post__img">
        <img src="..\static\images\news.jpg" alt="">
    </div>
    <div class="news-post__info">
        <h1 class="news-post__title">{{story.title}}</h1>
        <div class="news-post__date">
            <span>{{story.time}}</span>
        </div>
        <p class="news-post__text">Click "Read More" to be redirected to the article</p>
        <a href="{{story.link}}" class="news-post__cta">Read More</a>
    </div>
</div>
{% endfor %}
</body>