<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width-=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type=text/css href="https://fonts.googleapis.com/css?family=Poppins" />
      <link rel="stylesheet" href="static/landing.css">
   </head>
   <body>
      <div class="navbar">
         <ul>
           <li><a href="/">JobHub</a></li>
           <li><a href="/feed">News Feed</a></li>
           <li><a href="/interview">Interview prep</a></li>
           <li><a href="/resume">Resume building</a></li>
           <li><a href="/register">Register</a></li>
           <li><a href="{{link}}">{{user}}</a></li>
           <div class="search-container">
             <form method="GET">
               <input type="text" placeholder="Search.." name="search">
               <button type="submit">Submit</button>
             </form>
           </div>
         </ul>
      </div>
      <div class="landing-body-container">
         <div class="middle-container">
            <div class=image>
               <img src="static/img-home-1.png" width="730" height="543">
            </div>
            <div class="left-side">
               <h1>Welcome to <span><br> JobHub</span></h1>
            </div>
         </div>
      </div>
      <div class="aboutus">
         <div class="about-first-section">
            <h1>About</h1>
            <p>Are you looking to further your professional career? Introducing <span><b>JobHub!</b> </span>A revolutionary platform for all job seekers to search for jobs in your respective career areas.</p> 
         </div>
         <h2>Creators</h2>
         <div class="creators">
            <h4>Meet us</h4>
            <p>Kolade Adegbaye<br>Computer Science major at Boston University<br> koladea@bu.edu</p>
            <p>Sebasian Brinez<br>Computer Science and Computer Engineering at Loras College<br>juansebri2001@gmail.com</p>
            <p>Anthony Vazquez<br>Lorem ipsum</p>
            <p>Rodrigo Morales<br>Computer Science at New Jersey Institute of Technology<br>rodrigomv29@gmail.com</p>
            <p>Ziyad Gawish<br>Lorem ipsum</p>
         </div>
      </div>
      <div class="end-section">
         <h2>What you get</h2>
           <p><b><span> Job Search</span></b> - Access to millions of jobs available online
           </p>
           <p><b><span> Resume Building</span></b> - JobHub allows you to enhance and build your resumes and land that dream job
           </p>
           <p><b><span> Interview Prep</span></b> - Access to resources that prepare you for upcoming interviews
           </p>
           <p><b><span> News</span></b> - stay up to date with your news feed
           </p>
      </div>
   </body>
   <div class="bottom-footer">
     <center>
             <br />
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
            </svg>
             <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
             <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
     </center>
     <center>
              <p>By Kolade, Sebastian, Anthony, Rodrigo and Ziyad</p>
     </center>  
 </div>
</html>