{% extends "layout2.html" %}
{% block content %}
<div class=fullpage1>
   <h1> Write a stunning resume</h1>
<!--    <ol> -->
      <div class="result-container1">
         {% for video in videos %}
         <div class="row1">
            <div class="result_card1">
                  <div class="news-post__img">
                     <img src="..\static\news.jpg" alt="">
                  </div>
                  <div class="news-post__info">
                    <h3 class="news-post__title">{{video.title}}</h3>
                    <p class="news-post__text">Click "Watch Video" to see the video</p>
                    <a href="{{video.link}}" class="news-post__cta">Watch Now</a>
                  </div>
           </div>
         </div>
          {%endfor%}
   </div>
</div>
{% endblock content %}   