body{
   margin: 0;
   padding: 0;
   font-family: poppins;
   width: 100%;
   height: 90%;
   background-image: linear-gradient(47deg,#8c3cee 0%,#2f85f6 60%,#2daef7 100%);
   overflow: none;
   background-repeat: no-repeat;
}
ul{
   width: 100%;
   position: fixed;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: whitesmoke;
}

li{
   float: left;
}

li a{
   font-weight: bolder;
   font-family: poppins;
   display: block;
   color: ;
   text-align: center;
   padding: 18px 20px;
   text-decoration: none;
}

li a:hover {
   background-color:whitesmoke;
}

.bottom-footer{
   height: 5%;
   padding: 5px;
   background-color:  #C1C8E4;
}